<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>OAuth2orize blog</title>
    <link rel="stylesheet" href="/stylesheet.css">
  </head>
  <body>

    
   
      <header>
        <a href="/"><img class="brand" src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo Image"/></a>
        <h1><a href="/">OAuth2orize</a></h1>

          <ul>
            <li><a href="/docs/">Documentation</a></li>
            <li><a href="/protocol/">Protocol</a></li>
            <li><a href="/extend/">Extend</a></li>
            <li><a href="/blog/">Blog</a></li>
          </ul>

      </header>
      
      <h1>One</h1>
      <h2>One</h2>
      <h3>One</h3>
      <h4>One</h4>
      <h5>One</h5>
      <h6>One</h6>

      <div class="main">

        <article class="hentry h-entry">
          <h2 class="entry-title p-name"><a href="/" rel="bookmark"><%- title -%></a></h2>
          <p class="entry-summary"><%- summary -%></p>
        
          
        
          <div class="entry-content">
            <%- content -%>
          </div>
          <div>
            <span class="author vcard p-author h-card">
              <span class="fn"><%- author.name -%></span>
            </span>
            <time class="published dt-published" datetime="2013-06-13 12:00:00">TODO: date</time>
            <% tags.forEach(function(tag, i) { %>
              <a href="http://www.oauth2orize.com/tags/" rel="tag"><%- tag -%></a>
            <% }); %>
          </div>
        </article>
      
      </div>
      
      <footer>
        <p>&copy; 2011-2014 Jared Hanson</p>
        <ul class="footer-social">
          <li><a href="https://github.com/jaredhanson/oauth2orize"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook"></a></li>
          <li><a href="https://twitter.com/oauth2orize"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter"></a></li>
        </ul>
      </footer>

  </body>
</html>
